body{
  background-image: url(/templates/static/picturess/contact.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
  padding: 50px 100px;
  flex-direction: column ;
  align-items: center;
  
}
a:hover{
  color: blueviolet;
  transition: all 0.5s ease;
  transform: translateY(10%);
}
button{
  color: black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
  background-color: gainsboro;
  border-radius: 10px;
}
button:hover{
  background-color: lightblue;
  transition: all 0.5s ease;
  transform: translateY(5%);
}
p,li,button{
  font-weight: bold
}
h1{
  color: orange;
  font-size: xx-large;
}
.main-content{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: larger;
  font-weight: bolder;
}

