body{
    background-image: url(/templates/static/picturess/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
h1{
    color: orange;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
nav{

    width: 18cm;
    float: right;
    height: 70px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    font-size: 20px;
}
nav a{
color: orange;
list-style: none;
margin-left: 62px;
margin-top: 27px;
text-decoration: none;
font-family: Arial;
font-weight: bold;
transition: all 0.5s ease;
}
nav a:hover{
    color: lightblue;
}
main{
    color:whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#head1{
    text-align: center;
}
#par1{
    text-align: center;
}
button {
    background-color: #007bff; /* Blue background */
    color: white; /* White text */
    padding: 10px 20px; /* Add some padding */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Indicate it's clickable */
    transition: all 0.4s ease; /* Smooth hover transitions */
  }
  
  button:hover {
    background-color: lightgreen; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15); /* Add a subtle shadow */
    transform: translateY(5%);
    font-weight: bold;
  }

  .sect{
    transition: all 0.5s ease;
  }
  .sect:hover{
    transform: translateX(5%);
  }
 #sect2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    
 }
 #student1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: #007bff;
    width: 20%;
    border-radius: 0 30px;
    padding: 50px;
    transition: all 0.5s ease;
 }
 #student1:hover{
    transform: translateY(10%);
 }
 #student2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    background-color: #007bff;
    width: 20%;
    border-radius: 0 30px;
    padding: 50px;
    transition: all 0.5s ease;
 }
 #student2:hover{
    transform: translateY(10%);
 }
