<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Career Service Portal</title>
    <link rel="stylesheet" href="/templates/static/css/homepage.css">
    <script src="/templates/js/homepage.js"></script>
</head>
<body>;
    
    <div >
        <h1>Welcome Back to your Career Service Portal!</h1>
        <p>This portal helps university students find internships and connect with mentors.</p>
        <p><a href="landing.html">Click here to go back to homepage</a></p>
    </div>

    <section class="sect1">
        <div class="logleft">
            <h2>Student</h2> 
            <form action="" method="POST" id="studentform">
                <input type="email" name="email" placeholder="johndoe@example.com" required><br><br>
                <input type="password" name="password" placeholder="Password" required><br><br>
                <button type="submit" class="btnlogin" onclick="loginStudent()">Login</button>
            </form>

            <p><b>New to the platform?</b></p>
            <a href="registerstudent.html">Register</a>
        </div>


        <div class="logright">
            <h2>Mentor</h2>
            <form action="" method="POST" id="mentorform">
                <input type="email" name="email" placeholder="johndoe@example.com" required><br><br>
                <input type="password" name="password" placeholder="Password" required><br><br>
                
                <button type="submit" class="btnlogin" onclick="loginMentor()">Login</button>
            </form>
            <p><b>New to the platform? </b></p>
            <a href="registermentor.html">Register</a>
        </div>
    </section>

    <section class="sect2">
        <h2>Internship</h2>
        <p>Fill the following form to apply for internship</p>
        <form action="" method="POST" id="redirectIntern">
            <input type="email" name="email" placeholder="johndoe@gmail.com" required><br><br>
            <input type="password" name="password" placeholder="Password" required><br><br>
            <button type="submit" class="btnlogin" onclick="redirectInternship()">Login</button>
        </form>
            
    </section>
    
    <footer>
        <p>&copy; 2024 Career Service Portal</p>
    </footer>
</body>
</html>